@model Reservation_Foyer.Models.User

@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
    <h1>Edit User </h1>
    <hr />
</div>
<div class="row justify-content-center">
    <!-- Center the form horizontally -->
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cin" class="control-label"></label>
                <input asp-for="Cin" class="form-control" />
                <span asp-validation-for="Cin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label><br />
                <label><input type="radio" asp-for="Sex" value="1" /> Male</label>
                <label><input type="radio" asp-for="Sex" value="2" /> Female</label>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="1" selected>Admin</option>
                    <option value="0">User</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Universite" class="control-label"></label>
                <select asp-for="UniversiteId" class="form-control" asp-items="ViewBag.Universites"></select>
                <span asp-validation-for="UniversiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chambre" class="control-label"></label>
                <select asp-for="ChambreId" class="form-control" asp-items="ViewBag.Chambres"></select>
                <span asp-validation-for="ChambreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
